@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Sveiki!</h1>
    <p style="font-size:medium">Jūs prisijungėte prie Užrašinės, kurioje galėsite pasižymėti viską, ką norite ir ko nenorite nuveikti.</p>
    <img src="images/notes.jpg" height="300" width="680" alt="užrašų lapeliai" />
</div>
